<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bearingworld">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SellerOrderStateActivity" />
        <activity android:name=".VerifyPhoneActivity" />
        <activity android:name=".OrderConfirmationActivity" />
        <activity android:name=".SellerShopPageActivity" />
        <activity android:name=".SellerEditProductActivity" />
        <activity android:name=".MyOrdersSellerActivity" />
        <activity
            android:name=".ShopPage"
            android:label="@string/title_activity_shop_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PlaceOrderActivity" />
        <activity android:name=".UserDetailsActivity" />
        <activity android:name=".ConfirmOrderActivity" />
        <activity android:name=".MyOrdersUser" />
        <activity android:name=".ProductPageActivity" />
        <activity android:name=".DynamicShopPage2" />
        <activity android:name=".DynamicShopPage" />
        <activity android:name=".SellerContactActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".AccountDeactivationActivity" />
        <activity android:name=".ShopPageActivity" />
        <activity android:name=".RealEditProfileActivity" />
        <activity android:name=".AddNewProduct" />
        <activity android:name=".SellerDashboard" />
        <activity android:name=".SellerLoginActivity" />
        <activity android:name=".SignUp" />
        <activity android:name=".SignUpActivity1" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".UploadProfilePic" />
        <activity android:name=".UserProfile" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>